.form-floating .form-select, #datepicker, #datepicker2, .search-box__btn {
    height: 4.5rem;
    margin-bottom: 1rem;

}

@media screen and (max-width: 1200px) {
    .search-box__input {
        margin: auto !important;
    }
}