
.listing__content {
    float: none;
    margin: auto;
    padding: 3rem 0rem;
}

.listing__search-form {
    text-align: center;
}

@media screen and (max-width: 992px) {
    .listing {
        max-width: 90%;
        margin: auto;
    }
}