header.clearfix {
    background-color: rgb(23,32,45);
    position: unset;
}

.cta-one {
    padding: 2rem 0;
    margin-top: 3rem;
}

.container-form {
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgb(23, 32, 45, 0.3);
}

.btn-submit{
    background-color: rgb(10, 165, 205);
    color: white;
}

/* Creation car page Style Start */

.form-floating .form-select, .form-floating .form-control, #registrationNumber, #datepicker {
    height: 4rem;
}

.search-box__input {
    margin-right: 10px;
}

@media screen and (max-width: 1202px) {
    .create-car li {
        margin: auto !important;
    }

    .create-car .form-floating {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 992px) {
    .radio-group {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .radio-group {
        width: 70%;
    }
}

/* Creation car page Style End */