<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="infoLayout">

    <head>
        <title>404</title>
    </head>
    <body>

        <!--Error Page Start-->
        <section layout:fragment="content">

            <!--Page Header Start-->
            <section class="page-header" style="background-image: url(/assets/images/backgrounds/error-back.jpg);">
                <div class="container">
                    <div class="page-header__inner">
                        <h2>Erreur 404</h2>
                        <ul class="thm-breadcrumb list-unstyled">
                            <li><a th:href="@{/}">Accueil</a></li>
                            <li><span>-</span></li>
                            <li>Erreur 404</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!--Page Header Start-->

            <!--Error Page Start-->
            <section class="error-page">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="error-page__inner">
                                <h2 class="error-page__title">404</h2>
                                <h3 class="error-page__tagline">Désolé, nous ne pouvons pas trouver cette page!</h3>
                                <p class="error-page__text">La page que vous recherchez a été déplacée, supprimée, renommée ou n'a jamais existée.</p>
                                <a th:href="@{/}" class="thm-btn error-page__btn m-4">Retour à l'accueil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Error Page End-->

        </section>

    </body>
</html>