<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="infoLayout">

    <head>
        <title>Contactt</title>
    </head>

    <body>

        <!-- Dynamic Content Section Start -->
        <section layout:fragment="content">

            <!--Page Header Start-->
            <section class="page-header" style="background-image: url(/static/assets/images/backgrounds/page-header-bg.jpg);">
                <div class="container">
                    <div class="page-header__inner">
                        <h2>Contact</h2>
                        <ul class="thm-breadcrumb list-unstyled">
                            <li><a href="index.html">Home</a></li>
                            <li><span>-</span></li>
                            <li>Contact</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!--Page Header Start-->

            <!--Contact Page Start-->
            <section class="contact-page">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5">
                            <div class="contact-page__left">
                                <div class="section-title text-left">
                                    <span class="section-title__tagline">Contact Us</span>
                                    <h2 class="section-title__title">Leave us a Message</h2>
                                </div>
                                <p class="contact-page__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporeum dicant partem scripserit, doctus appetere interpretaris.</p>
                                <div class="contact-page__social-list">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                                    <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                                    <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7">
                            <div class="contact-page__right">
                                <form action="/static/assets/inc/sendemail.php" class="comment-one__form contact-form-validated" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="comment-form__input-box">
                                                <input type="text" placeholder="Your name" name="name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="comment-form__input-box">
                                                <input type="email" placeholder="Email address" name="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="comment-form__input-box">
                                                <input type="text" placeholder="Phone number" name="phone">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="comment-form__input-box">
                                                <input type="email" placeholder="Subject" name="Subject">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="comment-form__input-box">
                                                <textarea name="message" placeholder="Write message"></textarea>
                                            </div>
                                            <button type="submit" class="thm-btn comment-form__btn">Submit Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Contact Page End-->

            <!--Contact Info Start-->
            <section class="contact-info">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4">
                            <div class="contact-info__single">
                                <div class="contact-info__icon">
                                    <span class="icon-pin"></span>
                                </div>
                                <div class="contact-info__details">
                                    <h4 class="contact-info__title">Visit Anytime</h4>
                                    <p>88 Broklyn Golden Street, USA</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="contact-info__single">
                                <div class="contact-info__icon">
                                    <span class="icon-email"></span>
                                </div>
                                <div class="contact-info__details">
                                    <h4 class="contact-info__title">Send a Email</h4>
                                    <p><a href="mailto:needhelp@company.com">needhelp@company.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="contact-info__single">
                                <div class="contact-info__icon">
                                    <span class="icon-telephone"></span>
                                </div>
                                <div class="contact-info__details">
                                    <h4 class="contact-info__title">Call Center</h4>
                                    <p><a href="tel:00-666-888-0000">00 666 888 0000</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Contact Info End-->

            <!--Contact Page Google Map Start-->
            <section class="contact-page-google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd" class="contact-page-google-map__one" allowfullscreen></iframe>

            </section>
            <!--Contact Page Google Map End-->

        </section>

    </body>
</html>