<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layout">

    <head>
        <title>Listings</title>
    </head>

    <body>

    <!-- Dynamic Content Section Start -->
    <section layout:fragment="content">

        <!--Listing Top Start-->
        <section class="listing-top">
            <div class="listing-top__container">
                <div class="listing-top__left">
                    <ul class=" list-unstyled listing-top__menu">
                        <li><a th:href="@{/}">Home</a></li>
                        <li><span>-</span></li>
                        <li th:text="${nombreCars + ' Results'}"> </li>
                    </ul>
                </div>
                <div class="listing-top__right">
                    <div class="listing-top__map-show-hide">
                        <div class="listing-top__map-show-hide-text">
                            <p>Map: <span data-text="Show" data-toggle-text="Hide">Show</span></p>
                        </div>
                        <div class="listing-top__map-show-hide-icon">
                            <div class="listing-top__map-show-hide-icon-box"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Listing Top End-->

        <!--Listing Start-->
        <section class="listing">
            <div class="listing-container clearfix">
                <div class="listing__content">
                    <div class="listing__search-box">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="listing__search-box-inner">
                                    <form class="listing__search-form">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="listing__search-input">
                                                    <input type="text" placeholder="Enter keywords">
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="listing__search-input">
                                                    <select class="selectpicker" aria-label="Default select example">
                                                        <option selected>Location</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="listing__search-input">
                                                    <select class="selectpicker" aria-label="Default select example">
                                                        <option selected>Select make</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="listing__search-input">
                                                    <select class="selectpicker" aria-label="Default select example">
                                                        <option selected>Select model</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="listing__search-input">
                                                    <select class=" selectpicker" aria-label="Default select example">
                                                        <option selected>Transmission</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="listing__search-input">
                                                    <select class="selectpicker" aria-label="Default select example">
                                                        <option selected>Select year</option>
                                                        <option value="1">2016</option>
                                                        <option value="2">2017</option>
                                                        <option value="3">2018</option>
                                                        <option value="3">2019</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="row">
                                                    <div class="col-xl-6">
                                                        <div class="min-price-input">
                                                            <input type="text" placeholder="Min price">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="min-price-input">
                                                            <input type="text" placeholder="Max price">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="listing__search-input">
                                                    <select class="selectpicker" aria-label="Default select example">
                                                        <option selected>Select year</option>
                                                        <option value="1">2016</option>
                                                        <option value="2">2017</option>
                                                        <option value="3">2018</option>
                                                        <option value="3">2019</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="linsting__btn">Find Your Car</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listing__filter">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="listing__filter-inner">
                                    <div class="listing__filter-left">
                                        <div class="listing__filter-icon">
                                            <a href="#" class="icon-grid active"></a>
                                            <a th:href="@{/listingsDetails}" class="icon-list list-icon"></a>
                                        </div>
                                    </div>
                                    <div class="listing__filter-right">
                                        <div class="listing__filter-shorting-box">
                                            <div class="listing__filter-shorting-box-text">
                                                <p>Sort By:</p>
                                            </div>
                                            <div class="listing__filter-shorting-input">
                                                <select class="selectpicker" aria-label="Default select example">
                                                    <option selected>Default sorting</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listing__list-box">
                        <div class="row" th:object="${cars}">
                            <div class="col-xl-6" th:each="car : ${cars}">
                                <!--Listing List Box Single-->
                                <div class="listing__list-box-single">
                                    <div class="listing__list-box-img">
                                        <img src="/assets/images/resources/car.jpg" alt="">
                                        <div class="listing__list-box__icon">
                                            <i class="far fa-heart"></i>
                                        </div>
                                    </div>
                                    <div class="listing__list-box-content">
                                        <h5 class="listing__list-box-sub-title" th:text="${car.categorieDto.libelle} + ' Car'"></h5>
                                        <h3 class="listing__list-box-title" th:text="${car.modelAndMarkDto.marqueDto.libelle + ' ' + car.modelAndMarkDto.libelle}">Land Rover Evoque Pure</h3>
                                        <p class="listing__list-box-price"><span th:text="${car.prixJour + ' DH'}">$32 </span>/jour</p>
                                        <ul class="list-unstyled listing__list-box-details">
                                            <li th:text="${car.anneeCirculation + ' ' + car.fuelDto.libelle}"></li>
                                            <li th:text="${car.boiteAuto}? 'Auto' : 'Manuel'"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="listing__pagination-box">
                            <ul class="listing__pagination list-unstyled">
                                <li class="next" th:if="${currentPage > 0}">
                                    <a th:href="@{/listings(page=${previousPage})}" aria-label="Previous"><i class="fa fa-angle-left"></i></a>
                                </li>
                                <li class="count" th:each="i : ${#numbers.sequence( 1, nombrePages)}" th:if="${(i > (currentPage - nombreCarParPage + 2)) && (i < currentPage + nombreCarParPage)}">
                                    <a th:style="${currentPage==(i-1)? 'background-color: #0aa5cd; color: white;' : ''}" th:text="${i}" th:href="@{/listings(page=${i-1} , size=${nombreCarParPage})}"></a>
                                </li>
                                <li class="previous" th:if="${currentPage < (nombrePages-1)}">
                                    <a th:href="@{/listings(page=${nextPage})}" aria-label="Next"><i class="fa fa-angle-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="listing__map">
                    <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd"
                            class="listing-google-map" allowfullscreen></iframe>
                </div>
            </div>
        </section>
        <!--Listing End-->

    </section>
    <!-- Dynamic Content Section End -->

    </body>

</html>