<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <head>
        <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
        <title>Nouvelle car</title>
    </head>
    <body>

        <section layout:fragment="content">

            <div class="container container-form mt-5" th:object="${carCreationDto}">
                <h2 class="text-center mt-5">Nouvelle car</h2>

                <!-- Messages d'erreurs Start -->
                <div class="alert alert-danger py-0 w-50 m-auto text-center" th:if="${errorMessage}" th:text="${errorMessage}"></div>
                <div class="alert alert-danger py-0 w-50 m-auto" th:if="${errorRegistrationNumberMessage}" th:text="${errorRegistrationNumberMessage}"></div>
                <div class="alert alert-danger py-0 w-50 m-auto" th:if="${#fields.hasErrors('idMark')}" th:errors="*{idMark}"></div>
                <div class="alert alert-danger py-0 w-50 m-auto" th:if="${#fields.hasErrors('idModel')}" th:errors="*{idModel}"></div>
                <div class="alert alert-danger py-0 w-50 m-auto" th:if="${#fields.hasErrors('idFuel')}" th:errors="*{idFuel}"></div>
                <div class="alert alert-danger py-0 w-50 m-auto" th:if="${#fields.hasErrors('idCategory')}" th:errors="*{idCategory}"></div><br>
                <div class="alert alert-danger py-0 w-50 m-auto" th:if="${#fields.hasErrors('numberPlaces')}" th:errors="*{numberPlaces}"></div>
                <div class="alert alert-danger py-0 w-50 m-auto" th:if="${#fields.hasErrors('numberDoors')}" th:errors="*{numberDoors}"></div>
                <div class="alert alert-danger py-0 w-50 m-auto" th:if="${#fields.hasErrors('registrationNumber')}" th:errors="${carCreationDto.registrationNumber}"></div>
                <div class="alert alert-danger py-0 w-50 m-auto" th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}"></div>
                <div class="alert alert-danger py-0 w-50 m-auto" th:if="${#fields.hasErrors('pricePerDay')}" th:errors="*{pricePerDay}"></div>
                <div class="alert alert-danger py-0 w-50 m-auto" th:if="${#fields.hasErrors('dateCirculation')}" th:errors="*{dateCirculation}"></div>
                <div class="alert alert-danger py-0 w-50 m-auto" th:if="${#fields.hasErrors('androidAvailable')}" th:errors="*{androidAvailable}"></div>
                <div class="alert alert-danger py-0 w-50 m-auto" th:if="${#fields.hasErrors('airConditioning')}" th:errors="*{airConditioning}"></div>
                <div class="alert alert-danger py-0 w-50 m-auto" th:if="${#fields.hasErrors('autoTransmission')}" th:errors="*{autoTransmission}"></div>
                <div class="alert alert-danger py-0 w-50 m-auto" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></div><br>
                <!-- Messages d'erreurs End -->

                <!--Search Box Start-->
                <section class="search-box mt-1">
                    <div class="search-box__container">
                        <form th:action="@{/agent/newCar}"  method="post" class="search-box__form create-car">
                            <ul class="list-unstyled search-box__main clearfix">
                                <li class="search-box__input mb-4">
                                    <div class="form-floating">
                                        <select class="form-select" id="mark" name="mark" th:field="*{idMark}">
                                            <option th:each="markWithModelDto, status: *{markWithModelDtos}" th:text="${markWithModelDto.libelle}" th:value="${markWithModelDto.id}"></option>
                                        </select>
                                        <label for="mark" class="form-label">Select mark (select one):</label>
                                    </div>
                                </li>
                                <li class="search-box__input mb-4">
                                    <div class="form-floating">
                                        <select class="form-select" id="model" name="model" th:field="*{idModel}">
                                            <option th:each="modelDto, status: *{modelDtos}" th:text="${modelDto.libelle}" th:value="${modelDto.id}" ></option>
                                        </select>
                                        <label for="model" class="form-label">Select model (select one):</label>
                                    </div>
                                </li>
                                <li class="search-box__input mb-4">
                                    <div class="form-floating mb">
                                        <select class="form-select" id="category" name="category" th:field="*{idCategory}">
                                            <option th:each="categoryDto: *{categoryDtos}" th:text="${categoryDto.libelle}" th:value="${categoryDto.id}"></option>
                                        </select>
                                        <label for="category" class="form-label">Select catègorie (select one):</label>
                                    </div>
                                </li>
                                <li class="search-box__input mb-4">
                                    <div class="form-floating mb">
                                        <select class="form-select" id="fuel" name="fuel" th:field="*{idFuel}">
                                            <option th:each="fuelDto: *{fuelDtos}" th:text="${fuelDto.libelle}" th:value="${fuelDto.id}"></option>
                                        </select>
                                        <label for="fuel" class="form-label">Select fuel (select one):</label>
                                    </div>
                                </li>
                                <li class="search-box__input mb-4">
                                    <div class="form-floating">
                                        <select class="form-select" id="nbPlaces" name="nbPlaces" th:field="*{numberPlaces}">
                                            <option th:each="i : ${#numbers.sequence( 1, nbMaxPlaces)}" th:text="${i}" th:value="${i}" th:selected="${i == 5}? 'selected'" ></option>
                                        </select>
                                        <label for="nbPlaces" class="form-label">Select places number (select one):</label>
                                    </div>
                                </li>
                                <li class="search-box__input mb-4">
                                    <div class="form-floating">
                                        <select class="form-select" id="numberDoors" name="numberDoors" th:field="*{numberDoors}">
                                            <option value="5" selected>5</option>
                                            <option value="3" >3</option>
                                        </select>
                                        <label for="numberDoors" class="form-label">Select doors number (select one):</label>
                                    </div>
                                </li>
                                <li class="search-box__input mb-4">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="registrationNumber" pattern="^[1-9][0-9]{0,4}-[A-Z]-[1-9][0-9]?$" placeholder="Enter matricule" name="registrationNumber" th:field="*{registrationNumber}" required>
                                        <label for="registrationNumber">Matricule ( XXXXX-A-49)</label>
                                    </div>
                                </li>
                                <li class="search-box__input mb-4">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="mileage" placeholder="Enter kilometrage" min="0" name="mileage" th:field="*{mileage}" required>
                                        <label for="mileage">Kilometrage</label>
                                    </div>
                                </li>
                                <li class="search-box__input mb-4">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="pricePerDay" placeholder="Enter prixJour" min="1" name="pricePerDay" th:field="*{pricePerDay}" required>
                                        <label for="pricePerDay">Prix/Jour</label>
                                    </div>
                                </li>
                                <li class="search-box__input mb-4">
                                    <input type="text" name="date" placeholder="Select date mise en circulation" id="datepicker" th:field="*{dateCirculation}" required>
                                    <div class="search-box__icon-box">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </li>
                            </ul>
                            <div class="container row d-flex justify-content-around my-4 bg-white py-2 w-75 m-auto">
                                <div class="col-8 col-md-4 pt-2 radio-group">
                                    <div class="form-check form-switch ">
                                        <input class="form-check-input" type="checkbox" id="androidAvailable" name="androidAvailable" value="true" th:field="*{androidAvailable}" checked>
                                        <label class="form-check-label" for="androidAvailable">Poste android</label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="airConditioning" name="airConditioning" value="true" th:field="*{airConditioning}" checked>
                                        <label class="form-check-label" for="airConditioning">Climatisation</label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="autoTransmission" name="autoTransmission" th:value="true" th:field="*{autoTransmission}" checked>
                                        <label class="form-check-label" for="autoTransmission">Boite auto</label>
                                    </div>
                                </div>
                                <div class="col-8 col-md-4 pt-2 radio-group">
                                    <div class="form-check form-switch ">
                                        <input class="form-check-input" type="checkbox" id="childSeat" name="childSeat" value="true" th:field="*{childSeat}" checked>
                                        <label class="form-check-label" for="childSeat">Siège enfant</label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="tintedGlass" name="tintedGlass" value="true" th:field="*{tintedGlass}" checked>
                                        <label class="form-check-label" for="tintedGlass">Verre teinté</label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="sunroof" name="sunroof" th:value="true" th:field="*{sunroof}" checked>
                                        <label class="form-check-label" for="sunroof">Toit ouvrant</label>
                                    </div>
                                </div>
                                <div class="col-8 col-md-4">
                                    <label for="color" class="form-label">Color picker</label>
                                    <input type="color" class="form-control form-control-color" id="color" name="color" value="#563d7c" title="Choose your color" th:field="*{color}">
                                </div>
                            </div>
                            <div class="w-50 m-auto">
                                <button type="submit" class="search-box__btn">Add Car</button>
                            </div>
                        </form>
                    </div>
                </section>
                <!--Search Box End-->
            </div>

        </section>

    </body>
</html>