<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="infoLayout">

    <head>
        <title>News</title>
    </head>

    <body>

        <!-- Dynamic Content Section Start -->
        <section layout:fragment="content">

            <!--Page Header Start-->
            <section class="page-header" style="background-image: url(/assets/images/backgrounds/page-header-bg.jpg);">
                <div class="container">
                    <div class="page-header__inner">
                        <h2>News</h2>
                        <ul class="thm-breadcrumb list-unstyled">
                            <li><a href="index.html">Home</a></li>
                            <li><span>-</span></li>
                            <li>News</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!--Page Header Start-->

            <!--News One Start-->
            <section class="news-one news-page">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                            <!--News One Single-->
                            <div class="news-one__single">
                                <div class="news-one__img">
                                    <img src="/assets/images/blog/news-page-img-1.jpg" alt="">
                                    <div class="news-one__date-box">
                                        <p>20 <br> Apr</p>
                                    </div>
                                    <a href="news-details.html">
                                        <span class="news-one__plus"></span>
                                    </a>
                                </div>
                                <div class="news-one__content">
                                    <ul class="list-unstyled news-one__meta">
                                        <li><a href="news-details.html"><i class="fas fa-tags"></i> Rental</a></li>
                                        <li><a href="news-details.html"><i class="fas fa-comments"></i> 2 Comments</a>
                                        </li>
                                    </ul>
                                    <h3 class="news-one__title">
                                        <a href="news-details.html">Guide to Create a Listing Based Business</a>
                                    </h3>
                                    <div class="news-one__person">
                                        <div class="news-one__person-img">
                                            <img src="/assets/images/blog/news-one-person-1.png" alt="">
                                        </div>
                                        <div class="news-one__person-text">
                                            <span>Mike Hardson</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <!--News One Single-->
                            <div class="news-one__single">
                                <div class="news-one__img">
                                    <img src="/assets/images/blog/news-page-img-2.jpg" alt="">
                                    <div class="news-one__date-box">
                                        <p>20 <br> Apr</p>
                                    </div>
                                    <a href="news-details.html">
                                        <span class="news-one__plus"></span>
                                    </a>
                                </div>
                                <div class="news-one__content">
                                    <ul class="list-unstyled news-one__meta">
                                        <li><a href="news-details.html"><i class="fas fa-tags"></i> Rental</a></li>
                                        <li><a href="news-details.html"><i class="fas fa-comments"></i> 2 Comments</a>
                                        </li>
                                    </ul>
                                    <h3 class="news-one__title">
                                        <a href="news-details.html">Guide to Create a Listing Based Business</a>
                                    </h3>
                                    <div class="news-one__person">
                                        <div class="news-one__person-img">
                                            <img src="/assets/images/blog/news-one-person-2.png" alt="">
                                        </div>
                                        <div class="news-one__person-text">
                                            <span>Jessica Brown</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <!--News One Single-->
                            <div class="news-one__single">
                                <div class="news-one__img">
                                    <img src="/assets/images/blog/news-page-img-3.jpg" alt="">
                                    <div class="news-one__date-box">
                                        <p>20 <br> Apr</p>
                                    </div>
                                    <a href="news-details.html">
                                        <span class="news-one__plus"></span>
                                    </a>
                                </div>
                                <div class="news-one__content">
                                    <ul class="list-unstyled news-one__meta">
                                        <li><a href="news-details.html"><i class="fas fa-tags"></i> Rental</a></li>
                                        <li><a href="news-details.html"><i class="fas fa-comments"></i> 2 Comments</a>
                                        </li>
                                    </ul>
                                    <h3 class="news-one__title">
                                        <a href="news-details.html">Guide to Create a Listing Based Business</a>
                                    </h3>
                                    <div class="news-one__person">
                                        <div class="news-one__person-img">
                                            <img src="/assets/images/blog/news-one-person-3.png" alt="">
                                        </div>
                                        <div class="news-one__person-text">
                                            <span>Kevin Martin</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                            <!--News One Single-->
                            <div class="news-one__single">
                                <div class="news-one__img">
                                    <img src="/assets/images/blog/news-page-img-4.jpg" alt="">
                                    <div class="news-one__date-box">
                                        <p>20 <br> Apr</p>
                                    </div>
                                    <a href="news-details.html">
                                        <span class="news-one__plus"></span>
                                    </a>
                                </div>
                                <div class="news-one__content">
                                    <ul class="list-unstyled news-one__meta">
                                        <li><a href="news-details.html"><i class="fas fa-tags"></i> Rental</a></li>
                                        <li><a href="news-details.html"><i class="fas fa-comments"></i> 2 Comments</a>
                                        </li>
                                    </ul>
                                    <h3 class="news-one__title">
                                        <a href="news-details.html">Guide to Create a Listing Based Business</a>
                                    </h3>
                                    <div class="news-one__person">
                                        <div class="news-one__person-img">
                                            <img src="/assets/images/blog/news-one-person-1.png" alt="">
                                        </div>
                                        <div class="news-one__person-text">
                                            <span>Mike Hardson</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                            <!--News One Single-->
                            <div class="news-one__single">
                                <div class="news-one__img">
                                    <img src="/assets/images/blog/news-page-img-5.jpg" alt="">
                                    <div class="news-one__date-box">
                                        <p>20 <br> Apr</p>
                                    </div>
                                    <a href="news-details.html">
                                        <span class="news-one__plus"></span>
                                    </a>
                                </div>
                                <div class="news-one__content">
                                    <ul class="list-unstyled news-one__meta">
                                        <li><a href="news-details.html"><i class="fas fa-tags"></i> Rental</a></li>
                                        <li><a href="news-details.html"><i class="fas fa-comments"></i> 2 Comments</a>
                                        </li>
                                    </ul>
                                    <h3 class="news-one__title">
                                        <a href="news-details.html">Guide to Create a Listing Based Business</a>
                                    </h3>
                                    <div class="news-one__person">
                                        <div class="news-one__person-img">
                                            <img src="/assets/images/blog/news-one-person-2.png" alt="">
                                        </div>
                                        <div class="news-one__person-text">
                                            <span>Jessica Brown</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="600ms">
                            <!--News One Single-->
                            <div class="news-one__single">
                                <div class="news-one__img">
                                    <img src="/assets/images/blog/news-page-img-6.jpg" alt="">
                                    <div class="news-one__date-box">
                                        <p>20 <br> Apr</p>
                                    </div>
                                    <a href="news-details.html">
                                        <span class="news-one__plus"></span>
                                    </a>
                                </div>
                                <div class="news-one__content">
                                    <ul class="list-unstyled news-one__meta">
                                        <li><a href="news-details.html"><i class="fas fa-tags"></i> Rental</a></li>
                                        <li><a href="news-details.html"><i class="fas fa-comments"></i> 2 Comments</a>
                                        </li>
                                    </ul>
                                    <h3 class="news-one__title">
                                        <a href="news-details.html">Guide to Create a Listing Based Business</a>
                                    </h3>
                                    <div class="news-one__person">
                                        <div class="news-one__person-img">
                                            <img src="/assets/images/blog/news-one-person-3.png" alt="">
                                        </div>
                                        <div class="news-one__person-text">
                                            <span>Kevin Martin</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--News One End-->

        </section>
        <!-- Dynamic Content Section End -->

    </body>

</html>