<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <head>
        <title>Sign-in</title>
    </head>
    <body>

        <section layout:fragment="content">

            <div class="row mt-3">
                <div class="container container-form col-10 col-md-6 mt-5" th:object="${clientRegistrationDto}">
                    <h2 class="text-center m-3">Inscription</h2>
                    <div class="alert alert-danger py-0" th:if="${alreadyExistsErrorMessage}" th:text="${alreadyExistsErrorMessage}"></div>
                    <div class="alert alert-danger py-0" th:if="${systemError}" th:text="${systemError}"></div>
                    <form id="signinForm" th:action="@{/signinClient}" th:object="${agentRegistrationDto}" method="post">
                        <!-- Common data for client and agent -->
                        <div class="mt-4">
                            <div class="alert alert-danger py-0" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
                            <input type="text" class="form-control" placeholder="Nom" name="nom" pattern="^[a-zA-Z ]{3,30}$" required="required" th:field="*{lastname}"><br>
                        </div>
                        <div>
                            <div class="alert alert-danger py-0" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>
                            <input type="text" class="form-control" placeholder="Prenom" name="prenom" pattern="^[a-zA-Z ]{3,30}$" required="none" th:field="*{firstname}"><br>
                        </div>
                        <div>
                            <div class="alert alert-danger py-0" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                            <input type="email" class="form-control" placeholder="Email" name="email" pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required th:field="*{email}"><br>
                        </div>
                        <div>
                            <div class="alert alert-danger py-0" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                            <input type="password" class="form-control" placeholder="Mot de passe" name="password" pattern=".{3,}" th:field="*{password}" required><br>
                        </div>
                        <div>
                            <div th:class="${errorConfirmationPwd} ? 'alert alert-danger py-0' : ''" th:text="${errorConfirmationPwd} ? ${errorConfirmationPwd} : ''"></div>
                            <input type="password" class="form-control" placeholder="Confirmation mot de passe" name="passwordConfirm" pattern=".{3,}" th:field="*{passwordConfirmed}" required><br>
                        </div>
                        <div>
                            <div class="alert alert-danger py-0" th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}"></div>
                            <input type="tel" class="form-control" placeholder="Tel" name="tel" pattern="^0[567][0-9]{8}$" required th:field="*{tel}">
                        </div>

                        <div class="alert alert-danger py-0" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div><br>
                        <span>Vous êtes :</span>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="client" name="role" value="ROLE_CLIENT" th:checked="${clientRole}">Client
                            <label class="form-check-label" for="client"></label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="agent" name="role" value="ROLE_AGENT" th:checked="${agentRole}">Agent
                            <label class="form-check-label" for="agent"></label>
                        </div><br>

                        <!-- Data juste for agent -->
                        <div class="agent-data" >
                            <div>
                                <div class="alert alert-danger py-0" th:if="${#fields.hasErrors('rsAgence')}" th:errors="*{rsAgence}"></div>
                                <input type="text" class="form-control agent-form-item" placeholder="Rs agence" name="rsAgence" pattern="^[a-zA-Z0-9 ]{3,30}$" required th:field="*{rsAgence}"><br>
                            </div>
                            <div>
                                <div>
                                    <div class="alert alert-danger py-0" th:if="${#fields.hasErrors('addressDto.number')}" th:errors="*{addressDto.number}"></div>
                                    <input type="number" class="form-control agent-form-item" placeholder="Numero de porte" name="numeroPorte" required th:field="*{addressDto.number}"><br>
                                </div>
                                <div>
                                    <div class="alert alert-danger py-0" th:if="${#fields.hasErrors('addressDto.street')}" th:errors="*{addressDto.street}"></div>
                                    <input type="text" class="form-control agent-form-item" placeholder="Rue" name="rue" pattern="^[a-zA-Z0-9- ]{3,30}$" required th:field="*{addressDto.street}"><br>
                                </div>
                                <div>
                                    <div class="alert alert-danger py-0" th:if="${#fields.hasErrors('addressDto.district')}" th:errors="*{addressDto.district}"></div>
                                    <input type="text" class="form-control agent-form-item" placeholder="Quartier" name="quartier" pattern="^[a-zA-Z0-9- ]{3,30}$" required th:field="*{addressDto.district}"><br>
                                </div>
                                <div>
                                    <div class="alert alert-danger py-0" th:if="${#fields.hasErrors('addressDto.town')}" th:errors="*{addressDto.town}"></div>
                                    <input type="text" class="form-control agent-form-item" placeholder="Ville" name="ville" pattern="^[a-zA-Z- ]{3,30}$" required th:field="*{addressDto.town}"><br>
                                </div>
                                <div>
                                    <div class="alert alert-danger py-0" th:if="${#fields.hasErrors('addressDto.country')}" th:errors="*{addressDto.country}"></div>
                                    <input type="text" class="form-control agent-form-item" placeholder="Pays" name="pays" pattern="^[a-zA-Z- ]{3,30}$" required th:field="*{addressDto.country}"><br>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-submit">S'inscrire</button>
                        </div>
                    </form>
                </div>
            </div>

        </section>

    </body>
</html>